apiVersion: apps/v1
kind: Deployment
metadata:
  name: wallabag
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wallabag

  template:
    metadata:
      labels:
        app: wallabag
        try: "0"
        policy-type: "app"

      # envsubst is writing to /etc/php and needs priviliges

      # spec:
      #   securityContext:
      #     runAsUser: 65534
      #     runAsGroup: 65534
      #     fsGroup: 65534

      containers:
        - name: wallabag
          image: ghcr.io/wallabag/docker:2.6.9

          securityContext:
            allowPrivilegeEscalation: false

          envFrom:
            - configMapRef:
                name: wallabag-configmap
            - secretRef:
                name: wallabag-container-env

          ports:
            - containerPort: 80
              protocol: TCP

          volumeMounts:
            - name: secrets-store-inline
              mountPath: /mnt/secrets-store
              readOnly: true

      restartPolicy: Always

      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: azure-kv-secrets
            nodePublishSecretRef: # Only required when using service principal mode
              name: secrets-store-creds # Only required when using service principal mode
